*{
    padding:  0px;
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #edf2f4;
}

.container{
    border: 2px solid #003049;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    min-height: 50vh;
    width: 40vh;
}

form{
    margin: 2rem 0rem 2rem 0rem;
}

form select,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 1rem;
}

form input{
    border: 1px solid gray;
    padding: 0.75rem;
    border-radius: 1rem;
    font-size: 1.25rem;
}

.drop-down{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 2rem;
}
.drop-down i{
    margin-top: 1rem;
} 

.select-container img {
    height: 2rem;
    border-radius: 0.5rem;
    margin-right: 0.75rem;
    margin-left: 0.25rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    border-radius: 0.75rem;
    border: 1px solid gray;
}

.msg{
    margin-top: 2rem;
}

form button{
    background-color: #003049;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}